body { 
	background-image: linear-gradient(#292f33, #DDDDDD);
	display: flex;	
	flex-direction: column;
	margin: 0;
 } 
header {	
	background: rgb(36, 42, 45);
	background-image: url("../images/fond.png");
	display:flex;
	flex-direction:column;
	height:200px;
}

header >h2  {
	align-self:flex-end;
	margin-right:20px
}

header >h1 > img {
	position:relative;
	left:50px;
	top:40px
}
header > h2 {
	position:relative;
	margin-bottom:5px;
	margin-top:35px;
	margin-right:23px
}
main {
	align-self:center;
	width:900px;
	background-color:#EEEEEE
}
h2 {	
	color:white;
	font-size: 22px;
}
/* Positionnement du titre de l'article */
article> h3 {	
	position:relative;
	top:-45px;
	left:-2px;
	color:white;
	border: 2px solid black;
	background-color:black;
	align-self:flex-start;
	border-top-right-radius: 5px;
}
article {
	display: flex;	
	flex-direction: column;
	align-items:center;
	box-shadow: 10px 10px 3px 0 black;
	border: 2px solid black;
	margin:40px;

}
article > img {
	box-shadow: 8px 8px 1px 0 #333333;
	border: 2px solid #333333;
}
article > footer > a {
	color:#EF4036;
	text-decoration: none; 
	font-family: sans-serif;
}

p {
	padding:5px;
}
.important{
	border: 2px solid #EF4036;
	color:#EF4036;
	font-family: Helvetica;
	font-size: 16px;
	margin-left:85px;
	margin-right:85px;
	line-height: 13px;
	font-weight: bold;
	text-align: center;
}

/* menu horizontal */
nav > ul:nth-of-type(1)  {
	margin: 0;
	padding:0;
	background: #EF4036;
	height: 1.7em;
	list-style:none
}
nav > ul:nth-of-type(1)  > li {
	float: left;	
	width: 120px;
	margin: 0 5px;
	padding:5px	
}

nav > ul:nth-of-type(1)  > li:nth-of-type(2) {
	float: left;	
	width: 120px;
	height:1.7em;
	margin-left:290px;
	margin-right:40px;
}

nav > ul:nth-of-type(1) >li >a  {
	color:white;
	display: inline-block;
	text-decoration: none; 
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/* menu vertical invisible par defaut */
nav > ul:nth-of-type(1) >li:nth-of-type(2) > ul:nth-of-type(1) {
	display: none;	
}

/* menu vertical apparent au survol */
nav > ul:nth-of-type(1) >li:nth-of-type(2):hover  {
	background-color:black
}

/* menu vertical apparent au survol */
nav > ul:nth-of-type(1) >li:nth-of-type(2):hover >ul:nth-of-type(1) >li >a{	
	color:white;
	display: block;
	text-decoration: none; 
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	height:1.5em;
	padding:5px;
	background-color:black	
}

/* menu vertical apparent au survol */
nav > ul:nth-of-type(1) >li:nth-of-type(2):hover >ul:nth-of-type(1) {	
	display:block; 
	width:18em;
	list-style:none;
	margin-left:-45px;
	margin-top:0px;
}

/* menu vertical survol des éléments */
nav > ul:nth-of-type(1) >li:nth-of-type(2) >ul:nth-of-type(1) >li:hover >a {	
	color:white;
	display: block;
	text-decoration: none; 
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	height:1.5em;
	padding:5px;
	border:5px solid black;
	background-color:#EF4036	
}
/* positionnement en relatif pour avoir un zindex pour conserver les evenements une fois le menu ouvert*/
nav {
        display: block;
        position:relative;
        z-index:2;
}
/* formulaire */
form > table > tbody > tr:nth-child(even){
	background-color:#EEEEEE;
}

/**/
form > table > tbody > tr:nth-child(odd){
	background-color:#DDDDDD;
}
/**/
form > table > tbody > tr > td[colspan="2"] {
	background-color:#292f33;
	color:white;
}
form > table > tbody > tr:last-of-type {
	border:solid black
}
form > table > tbody > tr:last-of-type >td{
	align-self:center;
}
/**/
form > table {
	margin-left:180px;
	border-spacing: 0px;
}
footer {
	display:flex;
	justify-content:center;
}
